$header-min-height-xs: 610px;
$header-min-height-sm: 700px;

#tc-header {
  height: 100vh;
  min-height: $header-min-height-xs;

  @include media-breakpoint-up(sm) {
    min-height: $header-min-height-sm;
  }
}

.header {
  position: relative;
  height: 100vh;
  min-height: $header-min-height-xs;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg,#000101 0,#1f4295);
  overflow: hidden;

  @include media-breakpoint-up(sm) {
    min-height: $header-min-height-sm;
  }

  &__bg {
    background: linear-gradient(to right, rgba(#000101, 1) 0%,rgba(#000101, 0.95) 11%,rgba(#1f4295, 0.95) 89%,rgba(#1f4295, 1) 100%);
    height: 100vh;
    min-height: $header-min-height-xs;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    @include media-breakpoint-up(sm) {
      min-height: $header-min-height-sm;
    }
  }

  &__video {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: fill;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    margin-top: -3rem;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }

  &__link {
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  &__title {
    margin-bottom: 0;
    color: $white;

    @include media-breakpoint-up(md) {
      font-size: 5rem;
    }
  }

  &__description {
    color: rgba($white, 0.6);
  }

  &__description-first,
  &__description-second,
  &__description-third {
    display: block;
    margin-bottom: 0;
  }

  &__description-first {
    color: $white;
    font-size: 1.2rem;

    @include media-breakpoint-up(md) {
      font-size: 2.2rem;
    }
  }

  &__description-second {
    margin-top: .5rem;

    @include media-breakpoint-up(md) {
      font-size: 1.8rem;
    }
  }

  &__description-third {
    max-width: 54rem;
    margin-top: 0.6rem;
    margin-bottom: $spacer;
    font-size: 85%;
  }

  &__description-logo-react,
  &__description-logo-es6,
  &__description-logo-sass {
    margin-left: 15px;

    &:before {
      content: "";
      margin-right: 5px;
      display: inline-block;
      height: 20px;
      width: 20px;
      vertical-align: middle;
    }
  }

  &__description-logo-react {
    margin-left: 8px;

    &:before {
      background: url(map-get($logos, 'react-dark')) no-repeat center/100%;
    }
  }

  &__description-logo-es6 {
    &:before {
      background: url(map-get($logos, 'es6')) no-repeat center/100%;
    }
  }

  &__description-logo-sass {
    &:before {
      background: url(map-get($logos, 'sass')) no-repeat center/100%;
    }
  }

  /* Animations */
  &__title,
  &__description-first,
  &__description-second,
  &__description-third {
    opacity: 0;

    .wf-active & {
      animation: fadeSlideIn 300ms ease-in forwards;
      animation-delay: 200ms;
    }
  }

  &__description-first {
    .wf-active & {
      animation-delay: 200ms;
    }
  }

  &__description-second,
  &__description-third {
    .wf-active & {
      animation-delay: 600ms;
    }
  }

  .main-ctas__btn--folio,
  .main-ctas__btn--cv,
  .main-ctas__sep {
    opacity: 0;

    .wf-active & {
      animation: fadeSlideIn 300ms ease-in forwards;
      animation-delay: 1s;
    }
  }
}
