.project-info-bar {
  min-height: 300px;
  padding: $spacer;
  font-size: 85%;

  li {
    opacity: 0;
    animation: fadeOut 200ms ease-in forwards;
    animation-delay: 0;

    .project-listing__detailed--toggled & {
      animation: fadeSlideIn 300ms ease-in forwards;

      &:nth-child(1) { animation-delay: 100ms; }
      &:nth-child(2) { animation-delay: 200ms; }
      &:nth-child(3) { animation-delay: 300ms; }
    }
  }

  @include media-breakpoint-up(sm) {
    min-height: 206px;
    padding: $spacer * 2;
  }

  @include media-breakpoint-up(lg) {
    min-height: 176px;
    margin-top: $grid-gutter-width-base / 2;
    padding-top: $spacer * 2;
    padding-right: $spacer * 5;
    padding-bottom: $spacer * 3;
    padding-left: $spacer * 5;
  }

  @include media-breakpoint-up(lg) {

  }

  &__title {
    margin-bottom: $spacer / 2;
    text-transform: uppercase;
    font-size: 80%;
    color: rgba(black, 0.4);
  }
}
